body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
#root {
  min-height: 100vh;
  background-image: url("/src/assets/images/bg-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
